@media (min-width: 769px) {
    .float-right-lg {
        float: right;
        margin-left: 5px;
    }
}

@media (max-width: 770px) {
    .float-right-lg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

@media (min-width: 769px) {
    .float-left-lg {
        float: left;
        margin-right: 5px;
    }
}

@media (max-width: 770px) {
    .float-left-lg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}